# Credentials & Secrets
conf/*
!conf/examples/
!conf/examples/**


# Runtime & Logs
*.log
tmp/

# IDE & System
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Python Bytecode
__pycache__/
*.pyc

